.ipynb_checkpoints
.vscode
venv/*
tmp/
cosine_similarity
topic_modeling/.ipynb_checkpoints

/sentiment_analysis/.ipynb_checkpoints
/sentiment_analysis/cosine_similarity
/sentiment_analysis/cache_dir
/sentiment_analysis/outputs
/sentiment_analysis/runs
/sentiment_analysis/regression

/files/4mula_metadata.parquet
/files/4mula_filtered.csv
/files/df.csv
stopwords.txt
*.png
/files/sentiment_dataset